name: Lint

on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:
    types:
      - labeled
      - synchronize
      - opened

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@main
        with:
          environments: lint
      - name: lint (if this step fails, please 'pixi run lint' locally and push the changes)
        run: pixi run lint
